

.header #heading {
    color: blue;
    text-align: center;
    background-color: grey;
    padding: 1em;
    border-radius: 3em;
}

#paragraph {
    color: red;
    background-color: aqua;
    text-align: center;
    border-radius: 5em;
    margin-left: 10em;
    margin-right: 10em;
}